<ion-header>
  <ion-toolbar>
    <ion-title>Instructivo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form  >
    <ion-toolbar><h2> {{ accion }} Instructivo</h2></ion-toolbar>
    <ion-grid>
      <ion-row size="auto">
        <ion-col size="8">
          <ion-label>Codigo </ion-label>
          <ion-item>
            <ion-input
              type="text" name="codigo" [(ngModel)]="codigo"
              placeholder="Ingrese el codigo"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-label>Responsable </ion-label>
          <ion-item>
            <ion-input
              type="text" name="responsable" [(ngModel)]="responsable"
              placeholder="Ingrese el responsable"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row size="auto">
        <ion-col size="8">
          <ion-label>Nombre del instructivo</ion-label>
          <ion-item>
            <ion-input
              type="text" name="nombre" [(ngModel)]="nombre"
              placeholder="Ingrese el nombre del nuevo instructivo"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-label>Estado</ion-label>
          <ion-item lines="none"> 
            <ion-badge color="danger">
              No vigente
              <ion-icon name="close-circle"></ion-icon>
            </ion-badge>
            <ion-badge color="warning">
              Elaborado
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row size="auto">
        <ion-col size="auto">
          <ion-label>Versión</ion-label>
          <ion-item>
            <ion-input 
            name="version" [(ngModel)]="version"
            type="number" placeholder="0.0"></ion-input>
          </ion-item>
          <ion-chip  color="tertiary">1.0</ion-chip>
          <ion-chip color="tertiary">2.0</ion-chip>
          <ion-chip color="tertiary">3.0</ion-chip>
        </ion-col>
        <ion-col size="auto">
          <ion-label>Tipo Documento</ion-label>
          <ion-item>
            <ion-select *ngIf="accion=='Agregar'" 
              
              class="always-flip"
              toggleIcon="caret-down-sharp"
              interface="popover"
              placeholder="Elija opción"
              (ionChange)="obtenerTipoDocumento($event)"
              
              >
              <ion-select-option *ngFor="let t of tipos " value="{{t.id}}"  >{{t.nombre}} </ion-select-option>
            </ion-select>
            <ion-select *ngIf="accion=='Editar'" 
              
            class="always-flip"
            toggleIcon="caret-down-sharp"
            interface="popover"
            placeholder="Elija opción editar"
            (ionChange)="obtenerTipoDocumento($event)"
            value="{{instructivo.tipoInstructivo.id}}"
            >
             <ion-select-option *ngFor="let t of tipos " value="{{t.id}}"  >{{t.nombre}} </ion-select-option>
          </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-label>Clasificacion</ion-label>
          <ion-item>
            <ion-select class="always-flip" 
            toggleIcon="caret-down-sharp" 
            interface="popover" 
            placeholder="Elija opción"          
            (ionChange)="obtenerConfidencia($event)"
            value="{{instructivo.clasificacion}}"
            >
              <ion-select-option value="Alta">Alta</ion-select-option>
              <ion-select-option value="Media">Media</ion-select-option>
              <ion-select-option value="Baja">Baja</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col offset="string"></ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="4">
          <ion-label>Subir Documento</ion-label>
          <ion-input
            (change)="onFileUpload($event)"
            type="file"
            name="pdf"
            formControlName="defaultPdf"
            placeholder="Sube tu instructivo"
          ></ion-input>
        </ion-col>
        <ion-col size="8" *ngIf="accion=='Editar'">
         
          <ion-card>
            <ion-label>Documento original</ion-label>
            <iframe
            width="100%"
            height="100%"
            [src]="fileURL | safe"
          ></iframe>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar style="text-align: center">
    <ion-button color="tertiary" shape="round" fill="outline" (click)="close()" >Cancelar</ion-button >
    <ion-button *ngIf="accion=='Agregar'" (click)="enviarDatos()"  color="tertiary" shape="round" fill="solid">Crear</ion-button>
    <ion-button *ngIf="accion=='Editar'" (click)="editarDatos()"  color="tertiary" shape="round" fill="solid">Editar</ion-button>

  </ion-toolbar>
</ion-footer>
